<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <div class="divmain ">
    <div class="divetc card" style="margin-right: 95px;">
      Closing Balance Total
      <h4 >Rs 45678</h4>
    </div>
    <div class="divetc card"style="margin-right: 95px;">
      Total Withdrawal Amount
    </div>
    <div class="divetc card">
      Total Deposit Amount
    </div>
  </div>
 <div class="card" style="height: 200px;width: 1000px;background-color: lightgrey;">
  <app-bar></app-bar>
 </div>
 <div class="card1" style="height: 400px;width: 1000px;background-color: lightgrey;align-content: center;margin-top: 80px;">
  <app-pie></app-pie>
 </div>
 <div class="div2 card"style="height: 600px;width: 550px;background-color: lightgrey;align-content: center;">
  <app-scatter></app-scatter>
 </div>
  
   
</div>




